<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Lime - Virtual Bank</title>
        <meta name="description" content="Lime - Virtual Bank">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="alanlim">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation --> 
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap --> 
        <link rel="stylesheet" href="css/bootstrap.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" href="css/extralayers.css" />
        <link rel="stylesheet" href="css/settings.css" />
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <!-- owl carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="css/owl.transitions.css" />
        <link rel="stylesheet" href="css/full-slider.css" />
        <!-- text animation -->
        <link rel="stylesheet" href="css/text-effect.css" />
        <!-- common -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <link rel="stylesheet" href="css/style-ie.css" />
        <![endif]-->
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- navigation -->
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav bg-white nav-border-bottom static-sticky no-transition" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pull-left"><a class="logo-light" href="index.html"><img alt="" src="images/logo-light.png" class="logo" /></a></div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="col-md-9 text-right">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#slider" class="inner-link">Home</a> </li>
                                <li><a href="#features" class="inner-link">Features</a> </li>
                                <li><a href="#pricing" class="inner-link">Pricing</a> </li>
                                <li><a href="#signup" class="inner-link">Signup</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--end of navigation -->
        <!-- hero section -->
        <!-- <section id="slider" class="fix-background full-screen no-padding" style="background-image:url('http://placehold.it/1920x1200');">
            <div class="opacity-light bg-black"></div>
            <div class="container full-screen position-relative">
                <div class="slider-typography">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-bottom">
                            <a class="popup-youtube-landing" href="https://www.youtube.com/watch?v=mcixldqDIEQ"><span class="play-icon"><i class="fa fa-play"></i></span></a>
                            <h1 class="letter-spacing-2 white-text margin-three no-margin-bottom landing-title">Better landing pages</h1>
                            <span class="text-large letter-spacing-2 white-text margin-two display-block xs-display-none">The simplest way to build your landing page</span>
                            <div class="margin-five margin-ten-bottom">
                                <div class="col-lg-6 col-md-7 col-sm-10 col-xs-11 clearfix landing-subscribe center-col">
                                    <div id="success" class="no-margin-lr"></div>
                                    <form id="notifymeform" action="javascript:void(0)" method="post">
                                        <div class="col-lg-8 col-md-7 col-sm-8 no-padding-left xs-no-padding xs-margin-bottom-four"><input type="text" placeholder="Enter your email..." class="big-input landing-subscribe-input no-margin-bottom" name="email" id="email"></div>
                                        <div class="col-lg-4 col-md-5 col-sm-4 no-padding"><input name="notifyme-button" id="notifyme-button" type="submit" value="Start Your Trial" class="landing-subscribe-button no-margin-bottom"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- end hero section -->
        <!-- highlight section -->
        <section class="border-bottom no-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <h1>Free access and easy to use.</h1>
                        <div class="separator-line bg-black no-margin-lr"></div>
                        <p class="text-med width-70">Over 50 data analytics to track your budget and enhance your spending, delivering the best value and the best bang for your buck!</p>
                        <a href="#signup" class="highlight-button-black-border btn btn-medium margin-six no-margin-right inner-link sm-margin-bottom-ten">Register now!</a><br />
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-6 col-md-offset-1">
                        <img src="https://hd.unsplash.com/photo-1472640828211-0912f310f3f9" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <!-- end highlight section -->
        <!-- features section -->
        <section id="features">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h1>Features</h1>
                        <div class="separator-line bg-black margin-two no-margin-bottom"></div>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row margin-ten no-margin-bottom">
                    <!-- features grid -->
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding">
                            <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-desktop large-icon "></i></div>
                            <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                                <p class="text-med font-weight-600 black-text margin-five no-margin-top">Drag and Drop</p>
                                <p class="text-med width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding no-margin">
                            <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-target large-icon"></i></div>
                            <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                                <p class="text-med font-weight-600 black-text margin-five no-margin-top">Advanced Design</p>
                                <p class="text-med width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding">
                            <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-trophy large-icon"></i></div>
                            <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                                <p class="text-med font-weight-600 black-text margin-five no-margin-top">Mobile Responsive</p>
                                <p class="text-med width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding no-margin">
                            <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-scissors large-icon"></i></div>
                            <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                                <p class="text-med font-weight-600 black-text margin-five no-margin-top">Lead Generation Tools</p>
                                <p class="text-med width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding">
                            <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-hotairballoon large-icon"></i></div>
                            <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                                <p class="text-med font-weight-600 black-text margin-five no-margin-top">Dynamic Text Replacement</p>
                                <p class="text-med width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                        <!-- features item -->
                        <div class="features-section col-md-12 col-sm-6 no-padding no-margin">
                            <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-tools large-icon"></i></div>
                            <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                                <p class="text-med font-weight-600 black-text margin-five no-margin-top">Script Manager</p>
                                <p class="text-med width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            </div>
                        </div>
                        <!-- end features item -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end features section -->
        <!-- highlight section -->
        <section class="fix-background" style="background-image:url('https://hd.unsplash.com/photo-1460925895917-afdab827c52f');">
            <div class="opacity-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="white-text">Lime<br>Virtual Bank</h1>
                        <a class="btn-small-white-background btn btn-medium inner-link no-margin-lr" href="#signup">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end highlight section -->
        <!-- pricing section -->
        <section id="pricing">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h1>Pricing</h1>
                        <div class="separator-line bg-black margin-two no-margin-bottom"></div>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row margin-ten no-margin-bottom">
                    <div class="pricing">
                        <!-- pricing item -->
                        <div class="col-md-4 sm-margin-bottom-five sm-no-margin-top sm-margin-bottom-ten">
                            <div class="pricing-box sm-border">
                                <div class="pricing-title no-border">
                                    <h3>Starter</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span>7<span class="price-tenure">/mo</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>Full</strong> Access</li>
                                        <li><i class="icon-code"></i> Source Files</li>
                                        <li><strong>100</strong> User Accounts</li>
                                        <li><strong>1 Year</strong> License</li>
                                        <li>Phone &amp; Email Support</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a class="highlight-button btn btn-small button no-margin" href="#">Sign Up Now!</a>
                                </div>
                            </div>
                        </div>
                        <!-- end pricing item -->
                        <!-- pricing item -->
                        <div class="col-md-4 sm-margin-bottom-five sm-no-margin-top sm-margin-bottom-seven">
                            <div class="pricing-box best-price xs-no-margin">
                                <div class="pricing-title no-border">
                                    <h3>Professional</h3>
                                    <span>Most Popular</span>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span>12<span class="price-tenure">/mo</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>Full</strong> Access</li>
                                        <li><i class="icon-code"></i> Source Files</li>
                                        <li><strong>1000</strong> User Accounts</li>
                                        <li><strong>2 Years</strong> License</li>
                                        <li>Phone &amp; Email Support</li>
                                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a class="btn-small-white-background btn btn-small button no-margin" href="#">Sign Up Now!</a>
                                </div>
                            </div>
                        </div>
                        <!-- end pricing item -->
                        <!-- pricing item -->
                        <div class="col-md-4 sm-margin-bottom-five sm-no-margin-top sm-margin-bottom-seven">
                            <div class="pricing-box sm-border">
                                <div class="pricing-title no-border">
                                    <h3>Business</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span>19<span class="price-tenure">/mo</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>Full</strong> Access</li>
                                        <li><i class="icon-code"></i> Source Files</li>
                                        <li><strong>500</strong> User Accounts</li>
                                        <li><strong>3 Years</strong> License</li>
                                        <li>Phone &amp; Email Support</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a class="highlight-button btn btn-small button no-margin" href="#">Sign Up Now!</a>
                                </div>
                            </div>
                        </div>
                        <!-- end pricing item -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end pricing section -->
        <!-- highlight section -->
        
        <!-- end highlight section -->
        
        
        <!-- end tesimonials section -->
        <!-- signup section -->
        <section id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <h1>Money transfer in minutes. Analytics and insights.</h1>
                        <p class="text-med width-90 margin-five">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="col-md-5 col-sm-6 col-md-offset-2 login-box no-box-shadow no-border-round bg-gray">
                        <!-- form sub title  -->
                        <p class="title-small font-weight-600 margin-five no-margin-top black-text">Open Beta Trial</p>
                        <!-- end form sub title  -->
                        <form id="free30daytrialform" action="javascript:void(0)" method="post">
                            <div id="success-free30daytrial" class="no-margin-lr"></div>
                            <div class="form-group no-margin-bottom">
                                <!-- input  -->
                                <input type="text" id="name" name="name" placeholder="Your Name">
                                <!-- end input  -->
                            </div>
                            <div class="form-group no-margin-bottom">
                                <!-- input  -->
                                <input type="text" id="email2" name="email" placeholder="Your Email">
                                <!-- end input  -->
                            </div>
                            <!-- button  -->
                            <button type="submit" name="free30daytrial-button" id="free30daytrial-button" class="btn-success btn btn-medium  button button-3d btn-round no-margin">Register Your Interest</button>
                            <!-- end button  -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end signup section -->
        <!-- client section -->
        <section class="border-top">
            <div class="container">
                <div class="row">
                    <!-- client logo -->
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="https://images.unsplash.com/photo-1475771845165-3ad69423589d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=91bf99a3f1974f26c18ae45faf4e9e2d" alt=""/></div>
                    <!-- end client logo -->
                    <!-- client logo -->
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="https://images.unsplash.com/photo-1474679294639-dc85e32f2ef0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=97bfcfbdd233217a2f3c92ca7ec0ae11" alt=""/></div>
                    <!-- end client logo -->
                    <!-- client logo -->
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="https://images.unsplash.com/photo-1475862013929-0af29a1197f4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=c589b2005b1e0b1f23ae096403985aad" alt="800x500"/></div>
                    <!-- end client logo -->
                    <!-- client logo -->
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="https://images.unsplash.com/photo-1476054738960-e97a1eb3ba40?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=e7bcc502c657d5c0492a6670a9915242" alt=""/></div>
                    <!-- end client logo -->
                </div>
            </div>
        </section>
        <!-- end client section -->
        <!-- footer -->
        <footer>
            <div class=" bg-white footer-top">
                <div class="container">
                    <div class="row margin-four">
                        <!-- phone -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">+6 03 8888 8888</h6></div>
                        <!-- end phone -->
                        <!-- address -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">KLCC, Malaysia</h6></div>
                        <!-- end address -->
                        <!-- email -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="mailto:ask@lime.com" class="black-text">ask@lime.com</a></h6></div>
                        <!-- end email -->
                    </div>
                </div>
            </div>
            <div class="container onepage-footer-middle">
                <div class="row">
                    <div class="col-md-12 col-sm-12 footer-social text-right text-center">
                        <!-- social media link -->
                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        <!-- end social media link -->
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-dark-gray footer-bottom">
                <div class="container">
                    <div class="row margin-three">
                        <!-- copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                            &copy; 2016 Lime.
                        </div>
                        <!-- end copyright -->
                        <!-- logo -->
                        <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
                            <a href="index.html"><img src="images/logo-light-gray.png" alt=""/></a>
                        </div>
                        <!-- end logo -->
                    </div>

                </div>
            </div>
                <!-- scroll to top --> 
                <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a> 
                <!-- scroll to top end... --> 
        </footer>
        <!-- end footer -->

        <!-- javascript libraries --> 
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script> 
        <script type="text/javascript" src="js/bootstrap-hover-dropdown.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script> 
        <script type="text/javascript" src="js/skrollr.min.js"></script>  
        <script type="text/javascript" src="js/jquery.viewport.mini.js"></script>  
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- easy piechart-->
        <script type="text/javascript" src="js/jquery.easypiechart.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <!--portfolio with shorting tab --> 
        <script type="text/javascript" src="js/jquery.isotope.min.js"></script> 
        <!-- owl slider  -->
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <!-- magnific popup  -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="js/popup-gallery.js"></script>
        <!-- text effect  -->
        <script type="text/javascript" src="js/text-effect.js"></script>
        <!-- revolution slider  -->
        <script type="text/javascript" src="js/jquery.tools.min.js"></script>
        <script type="text/javascript" src="js/jquery.revolution.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit videos  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- imagesloaded  -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- one page navigation-->
        <script type="text/javascript" src="js/one-page-main.js"></script>
        <!-- setting --> 
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
